# virtualenvs
.venv/
venv/
venv-3.11/

# Python
__pycache__/
*.pyc

# Data artifacts
data/episodes/
data/models/
data/raw_clips/

# local dev
.vscode

# notebooks
notebooks/

# OS
.DS_Store

# Outputs
outputs/

ROADMAP.md

*.egg-info/
